body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.container {
    margin: 0px 166px;
}

.header-line {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1108px;
}

.nav-item {
    color:white;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    margin-right: 25px;
    transition: color 0.3s linear;  /* Плавное изменение цвета */
}

  .nav-item:hover { /* псевдокласс,происходит изменение цвета при нажатии */
    color: #cf6809;
}

.num {
    color: white;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s linear;  /* Плавное изменение цвета */
}
  .num:hover { /* псевдокласс,происходит изменение цвета при нажатии */
    color: #cf6809;
}
  .phone-text {
    font-size: 14px;
    font-weight: 400;
    color: white;
}
  .phone-holder {
    display: flex;
    align-items: center;
}

.dog-text {
    color: #cf6809;
    text-align: center;
    margin-top: 50px;
    font: 700 22px "Open Sans", sans-serif;
}

.dog-text1 {
    color: #141414;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 60px;
    font: 700 22px "Open Sans", sans-serif;
}

.dog-img {
    text-align: center;
    margin-top: 50px; 
}

.dog-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dog-photo p {
  margin: 0;
  font-size: 14px;
}

.shapka,
.shapka * {
  box-sizing: border-box;
}

.shapka {
  background: #141414;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  display: flex;
  justify-content: center;
}

#footer {
  background-color: #141414;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  height: 200px;
  font-size: 16px;
  text-align: center;
  padding: 20px;
}
.coperight{
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
}
.contact{
  text-align: left;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
}
.inform{
  text-align: left;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;  
}

.pets-item {
  position: relative;
}

.pets-item:hover .more-info {
  display: block;
  transition: 0.2s ease;
  cursor: pointer;
}

.pets-item .more-info {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('img/fon-1.png');
  background-size: cover;
  width: 100%;
  height: 100%;
  color: #fff;
  padding-left: 10px;
  padding-top: 10px;
  transition: 0.2s ease;
}